*{
    background:#3B4664;
}
h1{
    color: white;
}
.container{
    text-align: center;
    margin-top: 23px;
}
.calculator{
    padding: 20px;
    height: 260px;
    width: 280px;
    margin: auto;
    border-radius: 9px;
    background: #252D44;

}
table{
    margin:auto;
    background: #252D44;
    border-color: none;  
}
input{
    background: black;
    border-color: none;
    color: white;
    font-size: 35px;
    width: 280px;
    padding: 20px;
    margin: 10px;
    justify-content:center;
    border-radius: 20px;
    text-align: right;
    cursor: pointer;
    
}
button{
    font-size: 23px;
    height: 50px;
    width: 68px;
    background: rgb(233, 239, 224);
    font-weight: 600;
    border-radius: 10px;

    
}
.del{
    background: rgb(99, 115, 180);
}
.reset{
    width:140px;
    background: rgb(99, 115, 180);
}
.equal{
    width:140px;
    background: red;
}

